/* @theme darklight */
@import 'uncover';

:root {
    --text-main-color: #212121;
    --text-headline-color: #f09027;
    --text-accent-color: #8cbeaa;
    --bg-main-color: #f0f2eb;
    --bg-accent-color: #b5592a;
}

@font-face {
    font-family: 'MainFont';
    src: url(Mamelon-4-Hi-Regular.otf);
}
@font-face {
    font-family: 'Bold';
    src: url(./Kazesawa-Extrabold.ttf);
}

section {
    height: 100%;
    background: var(--bg-main-color);
    color: var(--text-main-color);
    font-size: 40px;
}

section h1 {
    font-size: 50px;
    color: var(--text-headline-color);
}

section h2 {
    color: var(--text-accent-color);
}

